# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
emsdk
supertonic-TTS
node_modules
dist
dist-ssr
*.local
package-lock.json

# TTS Models (large files - download separately)
assets/
public/assets/onnx/*.onnx
public/assets/onnx/voice_styles/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
_codeql_detected_source_root
rust-audio/target
rust-audio/target
